<section class="contact">
    <h1 class="title">צור קשר</h1>
    <p>דרכים ליצירת קשר:</p>
    <ul>
        <li>בטלפון: 1-700-550-534</li>
        <li>באימייל: <a href="mailto:sales@dtv.org.il?subject=התעניינות בשירות">sales@dtv.org.il</a>
        </li>
        <li>בעמוד הפייסבוק שלנו: <a href="https://www.facebook.com/tv.of.tomorrow/">Direct TV</a></li>
        <li>או לחלופין, לשלוח פניה מהטופס בעמוד זה</li>
        <a href="https://www.facebook.com/tv.of.tomorrow/">Direct TV</a>
    </ul>
    <!--<form class="form" method="POST" action="http://formspree.io/eden.toledano@gmail.com">
        <label for="name">שם מלא</label>
        <input class="input" id="name" type="text" name="name" placeholder="">
        <label for="email">כתובת אימייל</label>
        <input class="input ltr" id="email" type="email" name="_replyto" placeholder="">
        <label>הודעה</label>
        <textarea class="input area" name="message" placeholder="הכנס כאן את ההודעה שלך"></textarea>
        <button class="submit" type="submit">שלח</button>
    </form>-->

    <!--<p>אתם מוזמנים ליצור איתנו קשר במספר: 1-700-550-534 או לשלוח מייל לכתובת: sales@dtv.org.il או לבקר אותנו בעמוד הפייסבוק שלנו Direct TV.*</p>-->
    <form class="form">
        <label for="name">שם מלא</label>
        <input class="input" id="name" type="text" name="name" ng-model="formData.name" placeholder="">
        <label for="email">כתובת אימייל</label>
        <input class="input ltr" id="email" type="email" name="_replyto" ng-model="formData.email" placeholder="">
        <label>הודעה</label>
        <textarea class="input area" name="message" ng-model="formData.message" placeholder="הכנס כאן את ההודעה שלך"></textarea>
        <button class="submit" type="submit" ng-click="submitForm()">שלח</button>
    </form>

</section>